<!--
<div class="container mt-4">
    <form>
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
-->






<meta name="description" content="Wplay.co | Registrate y participa en el concurso de apuestas deportivas por internet">
<meta name="keywords" content="Wplay, Apuestas, Apuestas deportivas, Coljuegos, concurso, internet, Colombia, Fútbol, Liga aguila, Casino">
<meta property="og:image" content="https://wplay.co/app/img/fbshare.png" />
<meta name="twitter:image" content="https://wplay.co/app/img/fbshare.png">
<style>

</style>
<div class="conten_one">
    <div>
        <div class="row logoMobileTwo">
            <img class="log" src="../form/img/Wplay-Logo-blanco.png" />
        </div>
        <div class="frm">
            <form id="registerForm" name="registerForm">

                <div class="mb-3">
                    <input type="number" class="form-control" name="identity" id="inputIdentity" placeholder="* Cédula de Ciudadanía" required>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="* Nombres" required>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="* Apellidos" required>
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="* Correo electrónico" required>
                </div>


                <div class="mb-3">
                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="* Celular">
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Registrar</button>

                </div>
            </form>
        </div>
    </div>
</div>