<!--
<div class="container mt-4">
    <form>
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
-->






<meta name="description" content="Wplay.co | Registrate y participa en el concurso de apuestas deportivas por internet">
<meta name="keywords" content="Wplay, Apuestas, Apuestas deportivas, Coljuegos, concurso, internet, Colombia, Fútbol, Liga aguila, Casino">
<meta property="og:image" content="https://wplay.co/app/img/fbshare.png" />
<meta name="twitter:image" content="https://wplay.co/app/img/fbshare.png">
<style>

</style>
<div class="conten_one">
    <div>
        <div class="row logoMobileTwo">
            <img class="log" src="../form/img/Wplay-Logo-blanco.png" />
        </div>
        <div class="frm">
            <form id="registerForm" name="registerForm" [formGroup]="form" (ngSubmit)="enviar(form.value)">

                <div class="mb-3">
                    <input formControlName="identity" type="text" class="form-control" name="identity" id="identity" placeholder="* Cédula de Ciudadanía" required>

                </div>

                <div class="mb-3">
                    <input formControlName="username" type="text" class="form-control" name="username" id="username" placeholder="* Nombres">
                </div>

                <div class="mb-3">
                    <input formControlName="lastname" type="text" class="form-control" name="lastname" id="lastname" placeholder="* Apellidos" required>
                </div>

                <div class="mb-3">
                    <input formControlName="email" type="text" class="form-control" name="email" id="email" placeholder="* Correo electrónico" required>

                </div>


                <div class="mb-3">
                    <input formControlName="mobile" type="text" class="form-control" name="mobile" id="mobile" placeholder="* Celular">
                    <div class="error-message" *ngIf="GetForm['mobile'].errors && (GetForm['mobile'].dirty && GetForm['mobile'].touched)"><label for="">Por favor ingrese un número de celular valido</label></div>
                </div>


                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label text-white" for="flexCheckDefault">
                       Soy mayor de 18 años y Confirmo que he leído y estoy de acuerdo con los
                        <a class="text-white fw-bold" href="https://www.wplay.co/mas/ayuda/terminos-y-condiciones/" target="_blank" >términos y condiciones</a>.
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <a class="text-white fw-bold"  onclick="alert('Aceptación Tratamiento de Datos Personales >> La autorización suministrada en el presente formulario faculta a Wplay.co para que dé a sus datos aquí recopilados el tratamiento señalado en la “Política de Privacidad para el Tratamiento de Datos Personales” de Wplay.co, el cual incluye entre otras, el envío de información promocional, así como la invitación a eventos. El titular de los datos podrá en cualquier momento solicitar que la información sea modificada, actualizada o retirada de las bases de datos de Wplay.co escribiendo a este correo: requerimientoscoljuegos@wplay.co ')">Ley de Protección de Datos Personales</a>
                    </label>
                </div>



                <div class="d-grid gap-2">
                    <button [disabled]="GetForm['mobile'].errors" class="btn btn-primary" type="submit" (click)="registro()">Registrar</button>

                </div>
            </form>
        </div>
    </div>
</div>